@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
  font-family: "Poiret One", sans-serif;
}
@property --k {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  --k: 0;
  background: linear-gradient(45deg, hsl(calc(var(--k)*1turn), 95%, 70%), 
                              hsl(calc(var(--k)*1turn + 90deg), 95%, 70%),
                              hsl(calc(var(--k)*1turn + 180deg), 95%, 70%), 
                              hsl(calc(var(--k)*1turn + 270deg), 95%, 70%));
  animation: k 20s linear infinite;
}
@keyframes k {
  to {
    --k: 1 ;
  }
}